*{ /* the asterisk means that this applies to everything*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Georgia', sans-serif;
}
/* dot is for classes and the hashtag is for id*/
.navbar {
    background-color: #ffffff;
    height: 100px;
    display: flex; /*i.e . Flexible: makes sure the way its elements (flex items) are arranged within the container can be changed*/
    justify-content: center; /*horizontal alignment*/
    align-items: center; /*Direction alignment perpendicular to that of the flex box. In this case flex box is horizontal therefore: vertical alignment*/
    font-size: 1.2rem; /* 1 rem = 16 pixels*/
    position: sticky; /*The bar, when scrolling will stay in a fixed position, i.e. it will not disappear*/
    top: 0; /*the element's top edge should be positioned at the very top of its containing element */
    z-index: 999; /* Stacking. The higher the number more on top the feature is, compared to others with lower z-indexes*/
    border-bottom: 1px solid rgba(204, 202, 202, 0.34);
}
.navbar__container {
    display: flex;
    justify-content: space-between; /*separates <a>, <div> and <ul>. The one that are in the container*/
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto; /*the first(0) is top and bottom, the second (auto) is left and right*/
    padding: 0 50px;
}
#navbar__logo { /*the customisation of the logo*/
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ff9999 100%);
    background-size: 100%;
    -webkit-background-clip: text;/*The gradient is restricted to the text. For webkit-browsers as Chrome and Safari*/
    -webkit-text-fill-color: transparent; /*Makes text transparent. You therefore see the background*/
    -moz-background-clip: text; /* For Firefox*/
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer; /*when we hover on top of the logo it changes to hand sign*/
    text-decoration: none; /*Removes the underline that is in the <a> element (i.e. the underline in the links)*/
    font-size: 2rem;
}
.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none; /*removes the list configuration (i.e. bullet point) the elements were once in */
    text-align: center;
}
.navbar__item {
    height: 80px;
}
.navbar__links {
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 100%;
    text-decoration: none;
    padding: 0 1rem;
}
.navbar__links:hover { /*the effect when you hover on a menu item*/
    color: #ff8177;
    transition: all 0.3s ease; /*transition: [property] [duration] [timing-function] [delay]*/
}

/*Media Query : different styles depending on the device (ex. laptop or mobile phone) */
@media screen and (max-width: 600px) /*the type of device and condition*/{ /*for smaller displays ex. smartphones*/
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0 ;
    }
    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;/*so that it is out of sight before we press the icon*/
        opacity: 0;/*it is not visible even if it was in sight*/
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1; /*so that we can press the icon(i.e. the icon is on top)*/
    }
    .navbar__menu.active { /*JavaScript*/
        background: rgba(243, 187, 200, 1); /*OR TO KEEP JUST IN WHITE*/
        top: 100%;
        opacity: 1;/*so we can see it*/
        transition: all 0.5s ease;
        height: 50vh;/*i.e. 50% of the viewport height*/
        z-index: 99;
        font-size: 1.2rem;
    }

    #navbar__logo{
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #000;/*the color of the bar*/
        display: block; /*take up the full width of their container and are stacked vertically*/
    }
    .navbar__toggle{
        cursor: pointer;
    }
    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    #mobile-menu.is-active .bar:nth-child(2) {/*js. It will cause the second bar to disappear*/
        opacity:0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {/*js. It will cause the second bar to disappear*/
        transform: translateY(8px) rotate(45deg); /*CHANGE IT LATER!! Ex. translateY(8px) rotate (45deg)*/
    }

    #mobile-menu.is-active .bar:nth-child(3) {/*js. It will cause the second bar to disappear*/
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* HERO SECTION */
.main {
    background-color: #ffffff;
    background-image: url("images/pink_gradient.jpg");
    background-size: cover;
    position: relative;
}
.main__container {
    display: grid;/*The items are placed in a grid*/
    grid-template-columns: 1fr; /*evenly split*/
    align-items: center ;
    justify-content: center;
    margin: 0 auto;
    height: auto;
    padding: 0 50px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
}
.main__container__about__us{
    display: grid;/*The items are placed in a grid*/
    grid-template-columns: 1fr 0fr; /*evenly split*/
    align-items: center ;
    justify-content: center;
    margin: 0 auto;
    height: 60rem;
    padding: 0 50px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    grid-gap: 50px;
}
.main__container__charities{
    display: grid;/*The items are placed in a grid*/
    grid-template-columns: 1fr 0fr; /*evenly split*/
    align-items: center ;
    justify-content: center;
    margin: 0 auto;
    height: auto;
    padding: 0 50px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    grid-gap: 50px;
}
.main__content {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: left;
     margin: 20px 55px;
}
#explanatory_grid {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;

}
#introduction_grid {
    display: grid;
    grid-template-columns: 1.5fr ;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;

}
#subtitle {
    display: grid;
    grid-template-columns:10fr ;
    align-items: center;
    justify-content: center;
    grid-gap: 20px;

}
.main__content h1{
    font-size: 2.5rem;
    color: #ff6c8e;
    font-weight: 200;
    margin: 2rem auto;
}
.main__content h2{
    font-size: 1.5rem;
    color: rgba(255, 108, 159, 0.78);
    font-weight:40;
    margin-top: 1rem;
}
.main__content h3{
    font-size: 1rem;
    color: black;
    font-weight: 200;
    margin-top: 1rem;
}
.main__text p{
    margin-top: 14px;
    margin-bottom: 25px;
    font-size: 1.15rem;
    color: #000;
    line-height: 1.7; /*interline spacing*/
    font-weight: 100;/*Thickness of the font*/
    text-align: justify;/*overwrites the center alignment in .main__content*/
}
.warning_text p{
    margin-top: 14px;
    margin-bottom: 25px;
    font-size: 1.15rem;
    color: darkred;
    line-height: 1.7;
    font-weight: 100;
    text-align: justify;
}
#file_chosen {
    font-size: 0.9rem;
    color: black;
    font-weight:200;
    margin-top: 1rem;

}
.main__img--container {
    text-align: center;
}
#main__BIRADS_img {
    width: 70%;
    height: 70%;
}
#label {
    margin-top: 1rem;
    background-color: #ff6c8e;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    color: #fbfafa;
    font-size: 1.4rem;
    font-weight: 500;
    transition: all 0.3s ease;
    position: relative;
}

#label2 {
    margin-top: 1rem;
    background-color: #ff6c8e;
    padding: 0.3rem;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    color: #fbfafa;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.3s ease;
    position: relative;
}
.main__button-upload a {
    position: relative;
    z-index: 2;
    color: #ffffff;
    text-decoration: none;
}
.main__button-upload:hover {
    transform: scale(2);
    transition: all 0.3s ease;
}
.main__button a {
    position: relative;
    z-index: 2;
    color: #ffffff;
    text-decoration: none;
}
.main__button a {
    position: relative;
    z-index: 2;
    color: #ffffff;
    text-decoration: none;
}
.main__button {
    display: none;
}
.main__button.active {
    display: inline-block;
}
/* Mobile phone*/
@media screen and (max-width: 700px) {
    .main__content h1{
        font-size: 1.7rem;
    }
    .main__content h2{
        font-size: 1.3rem;
    }
    .main__text p{
        font-size: 1rem;
        line-height: 1.35rem;
    }
    .main__img--container {
        max-width: 480px;
    }
    #main__BIRADS_img {
        width: 100%;
    }
    .main__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
    }
}


/*Footer Section*/
.footer__container {
    background-color: rgba(243, 187, 200, 0.89);
    position: sticky;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.footer__container p{
    font-size: 0.8rem;
    color: rgba(69, 69, 69, 0.92);
    margin-bottom: 0.8rem;
}
.footer__link {
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: start;
    justify-content: left;
    margin-left:20px;
}
.footer__link--item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 13rem;
}
.footer__link--item h2{
    font-size: 1rem;
    color: rgba(69, 69, 69, 0.92);
    margin-bottom: 1rem;
}
.footer__link--item a {
    color: rgba(69, 69, 69, 0.92);
    font-size: 0.8rem;
    margin-bottom: 0.8rem;
    text-decoration: none;
}
.footer__link--item a:hover {
    color: #ffd700;
    transition: all 0.3s ease;
}

@media screen and (max-width:700px) {
    .footer__container {
        background-color: rgba(243, 187, 200, 0.89);
        margin-top: 22rem;
    }
    .footer__link {
        margin-left:2rem;
    }
    .footer__link--item {
        display: flex;
        margin-right: 4rem;
        align-items:self-start;
        margin-bottom: 1rem;
    }
}
@media screen and (max-width:550px) {
    .footer__link {
        flex-direction: column;
        align-items:center;
        margin: 0 auto;
    }
    .footer__link--item {
        margin-right: 0;
        align-items: center;
        margin-bottom: 1rem;
    }
}
/*
Style for Privacy page
 */
#policy_h1 {
    text-align: justify;
    font-size: 2.5rem;
    margin: 2rem 2rem;
}

.policy_h2 {
    text-align: justify;
    font-size: 1.3rem;
    margin: 1.2rem 2rem;
}
.policy_h3 {
    text-align: justify;
    font-size: 1.05rem;
    margin: 1.5rem 2rem;

}
.policy_paragraph {
    text-align: justify;
    line-height: 1.5;
    font-size: 0.9rem;
    margin: 1.5rem 2rem;
}
.policy_ul {
    list-style-type: square;
    margin: 1rem 2rem;
}
.policy_ul li {
    margin: 0.5rem 1rem;
    font-size: 0.9rem;
    line-height: 1.5;
}
